.date::-webkit-calendar-picker-indicator {
  filter: invert(60%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(90%) contrast(90%);
  opacity: 1;
}

.date:hover::-webkit-calendar-picker-indicator {
  filter: invert(46%) sepia(72%) saturate(2583%) hue-rotate(180deg) brightness(100%) contrast(95%);
}